.field_type=t 'fields.email'
  
.field_common
  %input{ :type => 'hidden', :value => 'email', :name => "form[fields][][type]"}
  %input{ :type => 'hidden', :value => index, :name => "form[fields][][index]", :class => 'index_field' }
  
  %label=t 'activerecord.attributes.field.title'
  %input{ :type => 'text', :value => field.title, :name => "form[fields][][title]", :onchange => "formEditor.fieldFor($(this)).find('label').html(this.value);" }
    
  %label=t 'activerecord.attributes.field.default'
  %input{ :type => 'text', :value => field.default, :name => "form[fields][][default]", :onchange => "formEditor.fieldFor($(this)).find('input').val(this.value);" }
  
.field_options
  %input{ :type => 'checkbox', :value => '1', :name => "form[fields][][enabled]", :checked => (field.enabled? || nil) }
  %label=t 'activerecord.attributes.field.enabled'
  
  %input{ :type => 'checkbox', :value => '1', :name => "form[fields][][required]", :checked => (field.required? || nil) }
  %label=t 'activerecord.attributes.field.required'
