#form_editor_protos
  = render :partial => "forms/editors/proto", :locals => { :type => 'email', :title => 'EMail', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'string', :title => 'String', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'text', :title => 'Text', :form => form }