%p
  %b=t('activerecord.attributes.form.title') + ':'
  =h form.title

%p
  %b=t('activerecord.attributes.form.submit_title') + ':'
  =h form.submit_title

%p
  %b=t('activerecord.attributes.form.description') + ':'
  =h form.description
