- form.fields.each_with_index do |field,i|
  %p
    %b= field.title + ':'
    =t 'types.' + field.type.to_s
    %ul
      - if field.default
        %li
          %b По умолчанию:
          = field.default
            
      - if field.disabled?
        %li
          %b Запрещено