body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

img {
  border: 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;

  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;

  word-wrap: break-word;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #333; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
	
}

#header {
  background-color: #637E9F;
  color: white;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: left;
}

#main {
  background-color: white;
  border-bottom: 4px solid #fc0;
  float: left;
  width: 100%;
}

#left {
	float: left;
	width: 20%;
}

#content {
	float: right;
	width: 75%;
	padding: 25px;
}

#footer {
  color: #AFAFAF;
  float: left;
  font-size: 90%;
  padding-top: 1px;
  padding-bottom: 20px;
  width: 100%;
}

tr.message.even {
	background: #DDDDDD;
}

tr.message.odd {
	
}

tr.message.unread {
	font-weight: bold;
}

.content {
	border: 1px solid #000000;
}

input.error {
    color: #ff0000;
}

label.error {
    margin: 5px;
    padding: 5px;
    padding-left: 30px;
    background: url(../images/icons/error.png) left no-repeat;
    color: #ff0000;
}

#flash-error {
    padding: 15px;
    margin: 20px;
	border: 2px solid #c00;
	background: #fcc;
}

#flash-notice {
    padding: 15px;
    margin: 20px;
	border: 2px solid #090;
	background: #dfd;
}

#flash-error img,
#flash-notice img {
    float: left;
    padding-right: 15px;
}
