body { background-color: #fff; color: #333; padding: 15px; margin: 0; }

body, p, ol, ul, td {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

img {
  border: 0px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;

  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;

  word-wrap: break-word;
}

a { color: #000; }
a:hover { color: #333; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
	
}

.pagination {
  margin: 10px;
}

#header {
  background: url(/images/logo-white.png) no-repeat;
  background-position: 15px 15px;
  background-color: #ffffff; /*#87a5b7;*/
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-left: 200px;
  text-align: left;
  
  -moz-border-radius-topleft: 10px;
  -khtml-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-radius-topleft: 10px;
  
  -moz-border-radius-topright: 10px;
  -khtml-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-radius-topright: 10px;
		
  border: 1px solid #dddddd;
  border-bottom: 0px;
  
  margin-bottom: 0px;
}

#header h1 a{
  color: #F6AF39;
  text-decoration: none;
}
#header h1 a:hover{
  color: #1c94c4;
  text-decoration: none;
}

#header h2 {
  color: #000;
}

#left {
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  border: 1px solid #dddddd;
  
  padding-bottom: 20px;
}

#topmenu {
  -moz-border-radius-bottomleft: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius-bottomleft: 10px;
  
  -moz-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius-bottomright: 10px;
		
  border: 1px solid #dddddd;
  
  text-align: right;
}


#left ul,
#topmenu ul {
  margin: 0px;
  display: block;
}

#left h3 {
  text-align: center;
}

#topmenu ul.left {
  float: left;
}

#topmenu ul.right {
  margin-right: 15px;
}

#topmenu ul li {
  padding-right: 15px;
  display: inline;
}

#topmenu a {
	font-weight: bold; 
	color: #1c94c4; 
	outline: none;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;	
	text-decoration: none;
	color: #1c94c4;
}

#topmenu a:hover {
	font-size: 1em;
	text-decoration: none;
	color: #c77405;
	cursor:pointer;
}

#main {
  background-color: white;
  float: left;
  width: 100%;
  
	padding-top: 5px;
	padding-bottom: 5px;
	
  border-bottom: 4px solid #F6AF39;
}

#left {
	float: left;
	width: 20%;
	
	margin-top: 65px;
}

#left li > a {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: #1c94c4;
}

#left li > a:hover {
	font-size: 1em;
	text-decoration: none;
	color: #c77405;
}

#title {
	float: right;
	width: 75%;
	height: 40px;
	margin-top: 10px;
	margin-left: 15px;
}

#content {
	float: right;
	width: 75%;
	padding: 15px;
}

#footer {
  color: #AFAFAF;
  float: left;
  font-size: 90%;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
}

tr.message.even {
	background: #DDDDDD;
}

tr.message.odd {
	
}

tr.message.unread {
	font-weight: bold;
}

.content {
	border: 1px solid #000000;
}

input.error {
    color: #ff0000;
}

.button {
	border: 1px solid #cccccc; 
	background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; 
	font-weight: bold; 
	color: #1c94c4; 
	outline: none;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;	
	text-decoration: none;
	color: #1c94c4;
	padding: .4em 1em .4em 20px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}

a.button {
	padding: .45em 1em .45em 20px;
}

.button:hover {
	font-size: 1em;
	text-decoration: none;
	color: #c77405;
	cursor:pointer;
}

span.color {
	padding: 3px;
	border: 1px solid #000;
}

label {
	font-weight: bold;
}

label.error {
    margin: 5px;
    padding: 5px;
    padding-left: 30px;
    background: url(../images/icons/error.png) left no-repeat;
    color: #ff0000;
}

.colorpicker {
	border-collapse: collapse;
}

.colorpicker td {
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
}

#flash-error {
    padding: 15px;
    margin: 20px;
	border: 2px solid #c00;
	background: #fcc;
}

#flash-notice {
    padding: 15px;
    margin: 20px;
	border: 2px solid #090;
	background: #dfd;
}

#flash-error img,
#flash-notice img {
    float: left;
    padding-right: 15px;
}
