#about-tabs
  %ul
    %li
      %a{ :href => '#about-intro' } О проекте
    %li
      %a{ :href => '#about-why' } Почему наша форма?
    %li
      %a{ :href => '#about-authors' } Авторы
    %li
      %a{ :href => '#about-ext' } Расширения

  #about-intro
    %p Вам когда-нибудь приходилось размещать на своей странице форму для контакта?
    %p Если да, то Вы сталкивались с тем, что Вам необходимо создать HTML-код формы, написать скрипт на сервере, который бы обрабатывал ее и отправлял по E-Mail, вписывать все это в Ваш дизайн. И все ради такой простой функциональности. А если форму надо разместить на нескольких сайтах?...
    %p Теперь все эти проблемы в прошлом. Есть более простое решение:
    %ol
      %li Вы регистрируетесь на нашем сервисе;
      %li После регистрации Вы получаете короткий HTML-код, который Вы можете вставить на любую страницу;
      %li Время от времени заходите в профиль и проверяете новые сообщения!
    
  #about-why  
    %p Почему наша форма?
    
    %ul
      %li Форма не требует каких-либо серверных скриптов. Вы просто вставляете одну строчку HTML-кода в любое место на странице.
      %li Форма может быть вставлена в виде ссылки на любой форум или блог, даже если там не разрешены скрипты.
      %li Форма не перезагружает страницу при отправке. Пользователи не уходят с Вашего сайта.
      %li Поля формы автоматически проверяются на корректность заполнения.
      %li Вы можете отключать, переименовывать и добавлять новые поля на форму.
    
    %p Готовы? Тогда <a href="<%=root_path + '#register'%>">регистрируйтесь</a>!
    
  #about-authors
    %p Авторами проекта являются Носков Алексей и Макаровский Анатолий.
    
  #about-ext
    %p Вам недостает каких-то возможностей сервиса или у Вас есть идея как сделать его лучше?
    %p Предлагайте!
    %p Вы всегда можете оставить отзыв, пользуясь кнопкой справа.

%script= "ui.initAbout(#{@hash || 'location.hash'});"