%ul#about_tabs.tabs
  %li
    %a{ :href => '#about-intro' } О проекте
  %li
    %a{ :href => '#about-authors' } Авторы

#about_panes.panes
  #about-intro
    %p Вы хотите, чтобы посетители вашего сайта могли отправить вам мгновенное сообщение? Теперь это просто, и вам даже не нужно быть программистом или что-то изучать!
    %p Воспользуйтесь нашим сервисом – получите готовый HTML-код, который вставите (так же, как вставляются коды счетчиков) в вашу страницу, в сообщение на форуме или в блоге и любой посетитель сможет написать вам (смотреть пример).
    %p Кроме простых сообщений вы сможете: проводить Интернет-опросы собрать анкеты или подписки организовать простую Интернет-торговлю сделать доску объявлений или гостевую книгу. Сообщения можно просмотреть в вашем личном кабинете нашего сервера. А мгновенное уведомление о поступлении сообщения вам доставит наша программа-агент (смотреть пример).
    %p Для удобства обработки опросов, анкет и заказов, сообщения можно получать в виде текстового или Excel-файла, а встроенная проверка корректности заполнения полей избавит вас от ошибок.
    %p Форма может вставляться одновременно во много разных страниц, может быть вставлена в виде ссылки в любой форум или блог (даже если там не разрешены скрипты).
    %p Форма не перезагружает страницу при отправке – т.е. пользователи не уходят с Вашего сайта.
    %p Вы в любой момент можете изменить свои формы.
      
    <a href="<%=register_url + '#register'%>">Сервис полностью бесплатный – просто попробуйте и вам понравится!</a>

  #about-authors
    %p Авторами проекта являются Носков Алексей и Макаровский Анатолий.
    
    %p Вам недостает каких-то возможностей сервиса или у Вас есть идея как сделать его лучше?
    %p Предлагайте!
    %p Вы всегда можете оставить отзыв, пользуясь кнопкой справа.

%script= "ui.initAbout(#{@hash || 'location.hash'});"