- without_panel!

.float-right{ :style => 'margin-top: -10px' }
  %p.center{ :style => 'font-weight: bold' }
    Пример простой формы
  = image_tag 'form.png'
  
%p Скопируйте готовый код и вставьте в любой сайт или форум, чтобы :
%ul
  %li получать сообщения с вашего личного сайта 
  %li проводить опросы и анкетирование
  %li сделать доску объявлений или новостную ленту 
%p Сообщения можно получать через web, по электронной почте или скачивать в виде текстового или Excel-файла
%p Ваша форма, в виде ссылки, может быть вставлена одновременно во много разных страниц, в любой форум или блог (даже если там не разрешены скрипты) и может быть изменена вами в любое время. При отправке форма не перезагружает страницу – т.е. пользователи остаются на прежнем сайте.
    
%p 
  Есть идеи как сделать проект лучше?
  %br
  <a href="/forms/1/code.html" target="_blank">Оставить отзыв или сообщение</a>      

.center-link
  = link_to 'Получить свою форму', register_url


