<p>Вам когда-нибудь приходилось размещать на своей странице форму для контакта?</p>
<p>Если да, то Вы сталкивались с тем, что Вам необходимо создать HTML-код формы, написать скрипт на сервере, который бы обрабатывал ее и отправлял по E-Mail, вписывать все это в Ваш дизайн. И все ради такой простой функциональности. А если форму надо разместить на нескольких сайтах?...</p>
<p>Теперь все эти проблемы в прошлом. Есть более простое решение:</p>
<ol>
  <li>Вы регистрируетесь на нашем сервисе;</li>
  <li>После регистрации Вы получаете короткий HTML-код, который Вы можете вставить на любую страницу;</li>
  <li>Время от времени заходите в профиль и проверяете новые сообщения!</li>
</ol>

<p>Почему наша форма?</p>

<ul>
  <li>Форма не требует каких-либо серверных скриптов. Вы просто вставляете одну строчку HTML-кода в любое место на странице.</li>
  <li>Форма может быть вставлена в виде ссылки на любой форум или блог, даже если там не разрешены скрипты.</li>
  <li>Форма не перезагружает страницу при отправке. Пользователи не уходят с Вашего сайта.</li>
  <li>Поля формы автоматически проверяются на корректность заполнения.</li>
  <li>Вы можете отключать, переименовывать и добавлять новые поля на форму.</li>
</ul>

<p>Готовы? Тогда <a href="<%=root_path + '#register'%>">регистрируйтесь</a>!</p>