- without_panel!
  
%p 
  Идея - Макаровский Анатолий, компания "ИНДУСТАР"
  %br
  Реализация - Носков Алексей

%p
  Проект запущен в эксплуатацию 16 ноября 2009 г.
    
%p 
  Есть идеи как сделать проект лучше?
  %br
  <a href="/forms/1/code.html" target="_blank">Оставить отзыв или сообщение</a>
