#messages_table,
#forms_table {
  width: 100%;
  border: 1px solid silver;
  margin: 10px; }
  #messages_table td,
  #forms_table td {
    padding: 5px;
    text-align: left; }
  #messages_table th,
  #forms_table th {
    padding: 5px;
    text-align: left;
    background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    border-bottom: 2px solid silver; }
  #messages_table tr.even,
  #forms_table tr.even {
    background: white; }
  #messages_table tr.odd,
  #forms_table tr.odd {
    background: #f2f2f2; }

#messages_table td.status,
#messages_table td.actions {
  width: 16px; }
  #messages_table td.status img,
  #messages_table td.actions img {
    width: 16px;
    height: 16px; }
#messages_table td.date {
  width: 150px; }

#forms_table td.actions {
  width: 60px; }
  #forms_table td.actions img {
    width: 16px;
    height: 16px; }

#messages_filter {
  width: 100%;
  border: 1px solid silver;
  margin: 10px;
  margin-bottom: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  #messages_filter p {
    margin: 0px;
    padding: 10px; }
