- unless current_user
  #login_form
    = form_for @user_session, :as => :session, :url => session_path do |f|
      = f.text_field :email
      = f.password_field :password

      = f.submit t('actions.session.create')
%h1
  %a{ :href => root_url } FreeForms.ru<sup>&beta;</sup>
%h2 контактные формы для Вашего сайта
